/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
}

/* ? ======== loader ========== */

.loader__bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141414;
    /* background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%); */
    z-index: 99999;
    perspective: 500px;
    transition: all 0.2s ease;
}


@keyframes square-animation {
    0% {
     left: 0;
     top: 0;
    }
   
    10.5% {
     left: 0;
     top: 0;
    }
   
    12.5% {
     left: 32px;
     top: 0;
    }
   
    23% {
     left: 32px;
     top: 0;
    }
   
    25% {
     left: 64px;
     top: 0;
    }
   
    35.5% {
     left: 64px;
     top: 0;
    }
   
    37.5% {
     left: 64px;
     top: 32px;
    }
   
    48% {
     left: 64px;
     top: 32px;
    }
   
    50% {
     left: 32px;
     top: 32px;
    }
   
    60.5% {
     left: 32px;
     top: 32px;
    }
   
    62.5% {
     left: 32px;
     top: 64px;
    }
   
    73% {
     left: 32px;
     top: 64px;
    }
   
    75% {
     left: 0;
     top: 64px;
    }
   
    85.5% {
     left: 0;
     top: 64px;
    }
   
    87.5% {
     left: 0;
     top: 32px;
    }
   
    98% {
     left: 0;
     top: 32px;
    }
   
    100% {
     left: 0;
     top: 0;
    }
   }
   
   .loader {
    position: relative;
    width: 96px;
    height: 96px;
    transform: rotate(45deg);
   }
   
   .loader-square {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    margin: 2px;
    border-radius: 2px;
    background: #f2f2f2;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: square-animation 10s ease-in-out infinite both;
   }
   
   .loader-square:nth-of-type(0) {
    animation-delay: 0s;
   }
   
   .loader-square:nth-of-type(1) {
    animation-delay: -1.4285714286s;
   }
   
   .loader-square:nth-of-type(2) {
    animation-delay: -2.8571428571s;
   }
   
   .loader-square:nth-of-type(3) {
    animation-delay: -4.2857142857s;
   }
   
   .loader-square:nth-of-type(4) {
    animation-delay: -5.7142857143s;
   }
   
   .loader-square:nth-of-type(5) {
    animation-delay: -7.1428571429s;
   }
   
   .loader-square:nth-of-type(6) {
    animation-delay: -8.5714285714s;
   }
   
   .loader-square:nth-of-type(7) {
    animation-delay: -10s;
   }

/* ========== */

.hidden {
    overflow: hidden;
}

/*=============== SCROLL BAR ===============*/

body::-webkit-scrollbar {
    width: 0.6rem;
    border-radius: .5rem;
    background: hsl(23, 4%, 15%);
}

body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background: #703BF7;
}

body::-webkit-scrollbar-thumb:hover {
    background: #703bf7ae;
}

body {
    font-family: 'Urbanist', sans-serif;
    background: #141414;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
}

p {
    color: #999;
    font-size: 14px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

/* ============================ Header =============================== */

.header {
    width: 100%;
    background: #1a1a1a;
    border-bottom: 1px solid #262626;
}

.nav {
    padding: 18px 30px;
    top: 0;
    left: 0;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 100;
}

.nav .logo {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    gap: 5px;
}

.nav,
.nav-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.nav {
    justify-content: space-between;
}

.link {
    color: #fff;
    font-size: 14px;
}

.nav .nav-links {
    gap: 20px;
    list-style: none;
}

.nav .nav-links .active {
    padding: 10px 18px;
    font-weight: 500;
    color: #703BF7;
    background: #141414;
    border-radius: 8px;
    border: 1px solid #703BF7;
}

.link {
    padding: 10px 18px;
    border: 1px solid transparent;
    font-weight: 500;
}

.link:hover {
    color: #703BF7;
    border: 1px solid #703BF7;
    background: #141414;
    border-radius: 8px;
}

.nav .nav-links .link {
    transition: all 0.3s linear;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
    display: none;
}

/* responsive */

@media screen and (max-width: 850px) {

    .nav .navOpenBtn,
    .nav .navCloseBtn {
        display: block;
    }

    .nav {
        padding: 15px 20px;
        z-index: 100;
    }

    .nav .nav-links {
        position: fixed;
        top: 0;
        left: 100%;
        right: 0;
        width: 100%;
        height: 83%;
        border-radius: 0px 0px 20px 20px;
        border-bottom: 2px solid #703BF7;
        padding-top: 100px;
        flex-direction: column;
        row-gap: 2.4rem !important;
        background: #1a1a1a;
        transition: all 0.4s ease;
        z-index: 100;
        overflow: hidden;
    }

    .nav.openNav .nav-links {
        left: 0;
    }

    .nav .navOpenBtn {
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }

    .nav .navCloseBtn {
        position: absolute;
        top: 20px;
        right: 24px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }

}

.our__journey {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
    align-items: center;
}

.main__title {
    font-size: 38px;
    font-weight: 600;
    line-height: 45px;
}

.main__text {
    margin-top: 16px;
    line-height: 22px;
}

/* cards */
.main__cards {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.main__card {
    width: 168px;
    padding: 14px 18px;
    border-radius: 10px;
    border: 1px solid #262626;
    background: linear-gradient(151deg, #2A213F 8.76%, rgba(25, 25, 25, 0.00) 50.09%);
    transition: .4s;
}

.number__title {
    font-size: 20px;
}

.main__card:hover {
    border: 1px solid #703BF7;
}

.main__bg {
    width: 530px;
    height: 518px;
}

.about__img {
    width: 508px;
    height: 370px;
}

/* ========================================= */

.our__value {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 40px;
    margin-bottom: 100px;
}

.projects__cards {
    width: 672px;
    padding: 30px;
    border-radius: 12px;
    border: 1px solid #262626;
    background: #141414;
    box-shadow: 0px 0px 0px 8px #191919;
}

.our__value .main__text {
    width: 345px;
}

.top__wrapper,
.down__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.high__line {
    width: 100%;
    height: 1px;
    background: #262626;
    margin: 20px 0;
}

.line {
    width: 1px;
    background: #262626;
    height: auto;
}

.icon__wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
}

.icon__border {
    width: 50px;
    height: 50px;
    padding: 11px 13px;
    border-radius: 52px;
    border: 1px solid #703BF7;
    background: #141414;
}

.icon {
    font-size: 22px;
    color: #A685FA;
}

.card1 .icon__wrapper h3 {
    font-size: 18px;
    font-weight: 600;
}

.card1 p {
    width: 274px;
    padding-top: 14px;
    font-size: 15px;
}

.card1:hover .icon__border {
    animation: bounce-icon .6s;
}

@keyframes bounce-icon {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translateY(-6px);
    }

    40% {
        transform: translate(0);
    }

    60% {
        transform: translateY(-3px);
    }

    80% {
        transform: translate(0);
    }
}

.boxs {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.box {
    width: 320px;
    height: 160px;
    padding: 34px;
    border-radius: 10px;
    border: 1px solid #262626;
    background: #141414;
    box-shadow: 0px 0px 0px 6px #191919;
    transition: .4s;
}

.box:hover {
    box-shadow: 0px 0px 0px 6px #703BF7;
}

.box__title {
    font-size: 20px;
    font-weight: 600;
}

.box__text {
    font-weight: 500;
    font-size: 14px;
    margin-top: 20px;
}

/* =============================== Navigating the Estatein Experience ==============================*/

.steps {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 35px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.step_1-bg {
    border-left: 1px solid #703BF7;
    padding: 12px 14px;
}

.step__title {
    font-size: 15px;
    font-weight: 500;
}

.about__step {
    padding: 33px;
    width: 344px;
    height: 190px;
    border-radius: 0px 10px 10px 10px;
    border-left: 1px solid #703BF7;
    border-top: 1px solid #703BF7;
    border-bottom: 1px solid#262626;
    border-right: 1px solid#262626;
    background: linear-gradient(121deg, #703BF7 -49.01%, rgba(112, 59, 247, 0.00) 13.65%);
}

.about__step-title {
    font-size: 18px;
    font-weight: 600;
}

.about__step-text {
    font-size: 15px;
    font-weight: 500;
    padding-top: 14px;
}





/*=============== SCROLL UP ===============*/

.scrollup {
    position: fixed;
    left: 1.3rem;
    bottom: -50%;
    background: #4d4d4d;
    display: inline-block;
    color: #fff;
    font-size: 1.25rem;
    width: 36px;
    height: 36px;
    padding: 5px 8px;
    margin: 0 auto;
    border-radius: .25rem;
    z-index: 1000;
    transition: bottom .4s, transform .4s;
    transition: .5s;
}

.scrollup:hover {
    background: #703BF7;
}

/* Show Scroll Up */
.show-scroll {
    bottom: 1.3rem;
}

/* ================================= Team ============================= */

.team {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 100px;
    row-gap: 38px;
}

.person__bg {
    width: 255px;
    border-radius: 12px;
    border: 2px solid #262626;
    padding: 20px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: .4s;
}

.person__bg:hover {
    border: 2px solid #703BF7;
    transform: translateY(-8px);
}

.person {
    width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: .4s;
}

.person__bg:hover .person {
    filter: grayscale(0%);
}

.twitter__bg {
    position: absolute;
    background: #703BF7;
    padding: 8px 18px;
    border-radius: 43px;
    width: 55px;
    margin-left: 80px;
    margin-top: -1.6rem;
}

.twitter-icon {
    font-size: 20px;
    color: #fff;
}

.person__name {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding-top: 28px;
}

.job__text {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    padding-top: 4px;
}

.input__form {
    margin-top: 18px;
    border: 1px solid #262626;
    border-radius: 100px;
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: space-between;
    padding: 7px 20px;
}

.person__bg:hover .input__form {
    border: 1px solid #703BF7;
}

.person__input {
    width: 100%;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 15px;
}

.send__btn {
    background: #703BF7;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    padding: 8px;
    border: none;
    cursor: pointer;
}

.svg {
    color: #fff;
    font-size: 18px;
}

/* ========================= Our Valued Clients ======================= */

.client__bg {
    width: 100%;
    padding: 30px;
    border-radius: 12px;
    border: 2px solid #262626;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: .5s;
    margin-top: 50px;
    margin-bottom: 30px;
}

.card__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
}

.number__wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.number {
    background: #703BF7;
    border-radius: 5px;
    padding: 4.5px;
}

.name {
    font-size: 20px;
    font-weight: 600;
    padding: 4px;
}

.learn__btn {
    position: relative;
    display: inline-block;
    padding: 14px 18px;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.4s;
    border: 2px solid #262626;
    border-radius: 8px;
    box-shadow: inset 0 0 0 0 #703BF7;
}

.learn__btn:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #703BF7;
}

.learn__btn:active {
    transform: scale(0.98);
}

.card__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 24px;
    margin-bottom: 24px;
}

.domain__title {
    display: flex;
    align-items: center;
    gap: 4px;
}

.app {
    color: #999;
    font-size: 18px;
}

.real__title {
    font-size: 15px;
    font-weight: 500;
    padding-top: 4px;
}

.card__line {
    background: #262626;
    width: 1px;
    height: auto;
}

.coment__bg {
    width: 100%;
    padding: 24px;
    border-radius: 12px;
    border: 1px solid #262626;
}

.coment__title {
    color: #999;
    font-size: 15px;
    font-weight: 500;
}

.coment__text {
    color: #fff;
    font-size: 400;
    font-weight: 500;
    line-height: 150%;
    padding-top: 8px;
}


/* ============================ Start Bg ===================== */

.start__bg {
    width: 100%;
    margin-top: 100px;
    padding: 60px 0px;
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
}

.text__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 30px;
    row-gap: 15px;
}

.start__title {
    color: #fff;
    font-size: 32px;
    font-weight: 600;
}

.start__text {
    color: #999;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    padding-top: 10px;
    max-width: 750px;
}

.explore__btn {
    border: none;
    color: #fff;
    background: #703BF7;
    border-radius: 8px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 15px;
    padding: 14px 16px;
    cursor: pointer;
}

.explore__btn:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
    0% {
        box-shadow: 0 0 0 0 #703bf7a8;
    }

    70% {
        box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }

    100% {
        box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}

/* ============================ Footer ======================= */

footer {
    width: 100%;
    padding: 80px 0px;
}

.footer__container {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

footer h4 {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 7px;
}

footer h4 {
    font-size: 22px;
    color: #fff;
}

h2 {
    font-size: 36px;
    color: #fff;
    margin: 0 auto;
}

.footer__form {
    margin-top: 20px;
    width: 300px;
    display: flex;
    align-items: center;
    gap: 6px;
    background: transparent;
    border: 1.2px solid #262626;
    border-radius: 8px;
    padding: 0px 20px;
}

.email__icon {
    color: #999;
    font-size: 20px;
}

.contact-inputs {
    background: transparent;
    color: #ffffff;
    font-size: 14px;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
}

.contact-inputs::placeholder {
    color: #999;
    font-size: 14px;
}

.send__btn {
    background: transparent;
    border: none;
    cursor: pointer;
}

.send__btn .svg {
    display: block;
    transform-origin: center center;
    font-size: 20px;
    color: #fff;
    transition: transform 0.3s ease-in-out;
}

.send__btn:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.footer__form:hover .send__btn .svg {
    transform: rotate(45deg) scale(1.1);
    color: #703BF7;
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.home__title {
    color: #999;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.108px;
}

.footer__list-item {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    row-gap: 14px;
}

.links {
    width: 780px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
}

.footer__link {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 14px;
    transition: .4s;
}

.footer__link:hover {
    color: #703BF7;
}


/* ====================== Bg__end ======================= */

.bg__end {
    padding: 12px 0;
    background: #1A1A1A;
}

.end__title {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
}

.end__title2 {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
}

/* for all social containers*/

.social__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 18px;
    display: flex;
    /* justify-content:space-around ; */
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 12px;
}

.social {
    display: flex;
    gap: 12px;
}

.socialContainer {
    width: 40px;
    height: 40px;
    font-size: 18px;
    border-radius: 50%;
    background: #141414;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    transition-duration: 0.3s;
}

/* instagram*/
.containerOne:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    transition-duration: 0.3s;
}

/* facebook*/
.containerTwo:hover {
    background: linear-gradient(45deg, #134ac0, #316ff6, #78a3ff);
    transition-duration: 0.3s;
    color: #fff;
}

/* linkdin*/
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: 0.3s;
}

/* Whatsapp*/
.containerFour:hover {
    background: linear-gradient(45deg, #66757f, #00acee, #36daff, #dbedff);
    transition-duration: 0.3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}




/* ToDo ========================== Responsive Mobile =============================== */

@media only screen and (max-width:1023px) {

    .main__title,
    .start__title {
        font-size: 30px;
    }

    .main__text {
        font-size: 14px;
    }

    .main__cards {
        flex-wrap: wrap;
    }

    .main__bg {
        width: 380px;
        height: 500px;
        border-radius: 5px;
    }

    .our__value .main__text {
        width: 100%;
    }

    .our__value .projects__cards {
        width: 100%;
    }

    .projects__cards {
        width: 100%;
    }

    .our__value .main__text {
        width: 100%;
    }

    .our__journey .main__text {
        width: 100%;
    }

    .box {
        width: 290px;
        height: 150px;
        padding: 28px;
    }

}


@media only screen and (max-width:901px) {

    .main__title,
    .start__title {
        font-size: 28px;
        line-height: 36px;
    }

    .main__cards {
        gap: 12px;
    }

    .main__card {
        padding: 12px 16px;
    }

    .main__bg {
        width: 450px;
        height: 450px;
    }

    .boxs {
        row-gap: 30px;
    }

    .box {
        width: 290px;
        height: 150px;
        padding: 28px;
    }


    .footer__wrapper {
        row-gap: 40px;
    }

}

@media only screen and (max-width:850px) {
    .container {
        padding: 0px 20px;
    }

    .text__wrapper {
        padding: 0 20px;
    }

    .footer__container {
        padding: 0 20px;
    }
}

@media only screen and (max-width:801px) {

    .our__journey {
        flex-direction: column-reverse;
        row-gap: 40px;
    }

    .main__title,
    .start__title {
        font-size: 26px;
        line-height: 36px;
    }

    .main__text {
        margin-top: 10px;
        font-size: 15px;
    }

    .about__img {
        width: 100%;
    }
}


@media only screen and (max-width:690px) {

    .top__wrapper,
    .down__wrapper {
        display: block;
    }

    .line {
        width: 100%;
        height: 1px;
        background: #262626;
        margin: 20px 0px;
    }

    .card1 p {
        width: 100%;
    }

    .box {
        width: 100%;
    }

    .about__step {
        width: 100%;
    }

    .footer__form {
        width: 100%;
    }
}

@media only screen and (max-width:645px) {
    .links {
        column-gap: 30px;
    }
}

@media only screen and (max-width:570px) {
    .end__title {
        margin-bottom: 15px;
    }

    .social__wrapper {
        display: block;
        row-gap: 12px;
        padding: 0 18px 0px 66px;
    }
}


@media only screen and (max-width:391px) {

    .nav {
        padding: 14px 16px;
        z-index: 100;
    }

    .container {
        padding: 0 16px;
    }

    .main__bg {
        height: 360px;
    }

    .main__title,
    .feat__title,
    .start__title {
        font-size: 28px;
    }

    .main__card {
        width: 100%;
    }

    .card__header {
        row-gap: 15px;
    }

    .card__line {
        width: 100%;
        height: 1px;
    }

}